.item1-2 {
  grid-area: a-1;
}
.item2-2 {
  grid-area: a-2;
}
.item3-2 {
  grid-area: a-3;
}
.g-container-2 {
  width: 100%;
  height: 70dvh;
  display: grid;
  gap: 1rem;
  grid-template-areas: "a-1 a-2 a-3";

  grid-template-columns: repeat(33%, 3);
  grid-template-rows: 100%;

  @media only screen and (max-width: 769px) {
    min-height: 130dvh;

    grid-template-areas:
      "a-1"
      "a-2"
      "a-3";

    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
  }
}
